name: Terraform Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~1"

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.61.0

      - name: Terraform Format Check
        run: terraform -chdir=terraform fmt -recursive -check

      - name: Terraform Init
        run: terraform -chdir=terraform init -backend=false

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: TFLint Init
        run: tflint --init --config=$GITHUB_WORKSPACE/terraform/.tflint.hcl

      - name: TFLint
        run: tflint --recursive --config=$GITHUB_WORKSPACE/terraform/.tflint.hcl

      - name: Trivy Security Scan
        uses: aquasecurity/trivy-action@0.30.0
        with:
          scan-type: config
          scan-ref: terraform/
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: CRITICAL,HIGH
          exit-code: "1"
          skip-dirs: '.cache'

      - name: Upload Trivy results to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
